body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(
    100deg,
    rgb(24, 33, 91) 22%,
    rgb(5, 5, 171) 35%,
    rgb(103, 36, 103) 100%
  );
}

/*Nav*/
nav a {
  color: white;
}

nav a:hover {
  border-bottom: 2px solid black;
  color: rgb(172, 183, 248);
}

.navbar-toggler {
  border-color: white;
  padding: 12px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Logo Mladen*/
#logo {
  margin-top: 5px;
  border: solid white 3px;
  color: white;
  padding: 10px;
}

#logo:hover {
  background-color: rgb(172, 183, 251);
  color: white;
  cursor: pointer;
  transform: rotate(360deg);
  transition-property: padding 5s;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

/*Show case of myself*/
#showCase h2 {
  color: white;
  margin-top: 100px;
}

/*CLock*/
#clock {
  width: 250px;
  margin-bottom: 5px;
  margin-top: 100px;
}

#showClock {
  background-color: rgb(21, 28, 76);
  color: white;
  width: 320px;
  height: 100px;
  font-size: 80px;
  border: 2px solid rgb(173, 183, 251);
  border-radius: 10px;
}

/*Section about Me*/
#aboutMe {
  color: white;
  margin-top: 80px;
}

#aboutMe p {
  font-size: 22px;
}

#aboutMe a {
  color: gold;
  text-decoration: none;
}

#aboutMe #skillSet {
  margin-left: 15px;
}

.tech {
  font-size: 20px;
  font-weight: 900;
}

/*Projects*/
#projects h3 {
  color: white;
}

.card {
  margin-top: 40px;
  background: linear-gradient(
    100deg,
    rgb(103, 36, 103) 22%,
    rgb(5, 5, 171) 35%,
    rgb(24, 33, 91) 100%
  );
  color: white;
  border-radius: 15px;
}

.card-img-top {
  border-radius: 15px 15px 0 0;
}

.card-title {
  font-size: 22px;
  font-weight: 900;
}

.btn {
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.btn:hover {
  color: rgb(18, 25, 74);
  background-color: white;
  font-size: 18px;
}

h3 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

/*footer*/
footer {
  margin-top: 20px;
  background: linear-gradient(
    100deg,
    rgb(105, 32, 105) 22%,
    rgb(9, 9, 132) 35%,
    rgb(37, 47, 108) 100%
  );
  min-height: 50px;
}

#links {
  text-align: center;
  padding: 20px;
}

#links a {
  margin: 0 5px 0 5px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

#myName {
  color: white;
  text-align: center;
  margin-top: 10px;
}
